@model IEnumerable<FICCE.Models.Estantes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroEstan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LargoAncho)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEstan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LargoAncho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.EventoId)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.Evento.EventoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planta.Nombre)
=======
                @Html.DisplayFor(modelItem => item.Planta.PlantaId)
>>>>>>> 10c4f1ce8e6330c4e774a2daa4b01eff97f1bd60
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstantesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstantesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstantesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
