@*@model IEnumerable<FICCE.Models.Edificio>

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ubicacion)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Evento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.EventoId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EdificioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EdificioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EdificioId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@{
    ViewData["Title"] = "Evento";
}

<h2>Lista de eventos</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#IngresoEvento">Ingreso Evento</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>Nombre del evento</th>
            <th>Fecha de inicio</th>
            <th>
                fecha de fin
            </th>
            <th>valor de los estantes</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ListaEvento"></tbody>
</table>







<div class="modal fade" id="IngresoEvento" tabindex="-1"
     role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Evento
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Nombre del evento</label>
                        <input id="ciudad" name="ciudad" class="form-control" placeholder="ingrese el nombre del evento" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de inicio</label>
                        <input id="inicio" type="datetime-local" name="inicio" class="form-control" placeholder="ingrese el fecha de inicio del evento" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de fin</label>
                        <input id="fin" name="fin" type="datetime-local" class="form-control" placeholder="ingrese la fecha de fin del evento" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Valor de estantes</label>
                        <input id="valor" name="valor" type="number" class="form-control" placeholder="ingrese la fecha de fin del evento" />
                    </div>
                    <input id="id" name="id" hidden />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                        title="con este boton usted guradara un nuevo cliente" onclick="grabaEvento()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ImpresionEvento" tabindex="-1"
     role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document" id="areaImprimir">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Reportes de Evento
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table">
                        <thead>
                            <tr class="danger">
                                <td>Id Evento</td>
                                <td>ciudad</td>
                                <td>fecha fin</td>
                                <td>fecha inicio</td>
                                <td>valor</td>
                            </tr>
                        </thead>
                        <tbody id="CuerpoImpresion"> </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                        title="con este boton usted guradara un nuevo cliente" onclick="Impresion()">
                    Imprimir
                </button>
            </div>
        </div>
    </div>
</div>